body {
    background: #282828;
    text-align: center;
    .logo {
        font: 50px 'Arial Narrow', sans-serif;
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: 30px;
        span {
            position: relative;
        }
        span:before, span:after {
            content: '';
            position: absolute;
            height: 0;
            z-index: 10;
        }
        .word1 {
            color: #dc006c;
            margin-right: 10px;
            display: inline-block;
            z-index: 10;
        }
        .word1:before {
            right: -4px;/* would be left, but we flipped the word */
            top: -9px;
            border-top-color: #282828;/* match background color */
            border-right-color: #282828;/* would be left, but we flipped the word */
        }
        .word1:after {
            left: 17px;/* would be right, but we flipped the word */
            bottom: -15px;
            border-bottom-color: #282828;
            border-left-color: #282828;/* would be right, but we flipped the word */
        }
        .word2 {
            z-index: 0;/* stack 2nd word below */
        }
        .word2:before {
            left: -4px;
            top: -6px;
            border-top-color: #282828;
            border-left-color: #282828;
        }
        .word2:after {
            right: -4px;  
            bottom: 4px;
            border-bottom-color: #282828;
            border-right-color: #282828;
        }
    }
    
}
  